[submodule "external/argon2"]
	path = external/argon2
	url = https://github.com/P-H-C/phc-winner-argon2
[submodule "external/civetweb"]
	path = external/civetweb
	url = https://github.com/civetweb/civetweb.git
